/* Styles for the product section */
.product_section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-height: 100%;
  gap: 20px;

  .product_image_container {
    flex-basis: 55%;
    position: sticky;
    min-height: 550px;
    top: 5.625rem;
    border-radius: 0.625rem;
    background-color: var(--accent-color);

    display: grid;
    place-items: center;
    gap: 3.125rem;

    figure {
      img {
        max-width: 100%;
        height: auto;

        object-fit: cover;
      }
    }

    /* Media query for .product_image_container */
    @media (max-width: 768px) {
      position: static;
      width: 100%;
      min-height: 200px;

      figure {
        width: 100%;
      }
    }
  }

  .product_content_container {
    flex-basis: 45%;
    border-radius: 0.625rem;
    background-color: var(--container-color);

    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;

    h2 {
      font-size: 4rem;
      line-height: 100%;
      color: var(--font-primary-color);

      /* Media query for h2 inside .product_content_container */
      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
    }

    .product_price {
      font-size: 2.5rem;

      /* Media query for .product_price inside .product_content_container */
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .swatches_container {
      .swatch_color_name {
        font-size: 0.9375rem;
        color: var(--font-primary-color);
      }

      .swatches_image_container {
        display: flex;
        gap: 1.25rem;

        figure {
          margin-top: 0.625rem;
          border: 0.5px solid skyblue;
          border-radius: 0.625rem;
          width: 4.375rem;
          height: 4.375rem;
          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:hover,
          &:focus {
            background-color: rgb(234, 234, 234);
          }

          img {
            max-width: 100%;
            object-fit: cover;
          }

          /* Media query for figure inside .swatches_image_container */
          @media (max-width: 768px) {
            width: 3.125rem;
            height: 3.125rem;
          }
        }
      }
    }

    .description_container {
      .description_name {
        text-transform: uppercase;
        font-size: 1.5rem;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      .description_content {
        font-size: 0.875rem;
        max-width: 31.25rem;
        margin-top: 0.9375rem;
        font-family: var(--font-family-secondary);

        /* Media query for .description_content inside .description_container */
        @media (max-width: 768px) {
          font-size: 0.625rem;
        }
      }
    }

    .product_features {
      max-width: 31.25rem;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 2.5rem;

      .product_features_title {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: var(--font-primary-color);

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      .product_list_container {
        margin-left: 0.625rem;

        p:first-child {
          font-size: 0.9375rem;
          text-transform: uppercase;
          color: var(--font-primary-color);

          @media (max-width: 768px) {
            font-size: 0.8rem;
          }
        }

        p:nth-child(2) {
          margin-top: 0.625rem;
          letter-spacing: -0.04375rem;
          font-family: var(--font-family-secondary);
          font-weight: normal;

          /* Media query for p:nth-child(2) inside .product_list_container */
          @media (max-width: 768px) {
            font-size: 0.625rem;
          }
        }
      }
    }

    .secondary_cta {
      margin-top: var(--_margin-top);
      font-family: var(--font-family);
      width: 15.625rem;
      height: 3.375rem;
      border-radius: 0.625rem;
      border: none;

      text-transform: uppercase;
      background-color: black;
      text-decoration: none;
      color: white;
      display: grid;
      place-items: center;

      /* Media query for .secondary_cta inside .product_content_container */
      @media (max-width: 768px) {
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
        width: 10.625rem;
      }
    }

    /* Media query for .product_content_container */
    @media (max-width: 768px) {
      width: 100%;
      border-radius: 0.625rem;
      padding: 0.625rem;
      gap: 1.875rem;
    }
  }

  /* Media query for .product_section */
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.25rem;
  }
}
