.testimonial_section {
  width: 100%;
  min-height: 100vh;

  p:first-child {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    letter-spacing: -1px;
    color: lightslategray;
    text-transform: uppercase;
  }
  .testimonial_title {
    font-size: clamp(1.5rem, 3vw, 4rem);
    letter-spacing: -1px;
    margin-bottom: 45px;
    color: var(--font-primary-color);
  }

  .testimonial_wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
      max-width: 400px;
      border: 1px solid rgb(207, 207, 207);
      padding: 20px;
      border-radius: 10px;
      background-color: white;

      picture {
        display: inline-flex;
        max-width: 95px;
        max-height: 95px;

        @media (max-width: 768px) {
          max-width: 60px;
        }

        border-radius: 50%;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      figcaption {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        min-height: 270px;

        @media (max-width: 768px) {
          min-height: 220px;
          margin-top: 30px;
        }

        img {
          max-width: 70px;
          transform: translateX(-10px);
          height: auto;

          @media (max-width: 768px) {
            max-width: 30px;
          }
        }

        .testimonial_content {
          font-size: var(--fs-base);
          font-family: var(--font-family);
          font-weight: 600;
          height: 100%;

          @media (max-width: 768px) {
            font-size: var(--fs-sm);
          }
        }

        .testimonial_author {
          .testimonial_location {
            color: lightslategray;
          }
        }
      }
    }
  }
}
